<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49115974578-gl12ovr99fhncabkr8o9iugcaovibadc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49115974578-gl12ovr99fhncabkr8o9iugcaovibadc</string>
	<key>API_KEY</key>
	<string>AIzaSyDDF59acf3B0z6-ftoVBOV5RuF-AK2hmXo</string>
	<key>GCM_SENDER_ID</key>
	<string>49115974578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.krishijodd</string>
	<key>PROJECT_ID</key>
	<string>krishijodd---diversion2k23</string>
	<key>STORAGE_BUCKET</key>
	<string>krishijodd---diversion2k23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49115974578:ios:58e86a4f89e8feb51272ab</string>
</dict>
</plist>